NEXT_PUBLIC_SITE_URL=https://teslakortingscode.com
NEXT_PUBLIC_TESLA_REFERRAL_LINK=https://ts.la/tristan462970
NEXT_PUBLIC_TESLA_REFERRAL_CODE=tristan462970
NEXT_PUBLIC_TESLA_TERMS_URL=https://www.tesla.com/nl_nl/support/refer-and-earn
